.section-features{
    padding-bottom: 0;
  }
  
  .section-features__title{
    display: none;
  }
  
  
  .features {
    display: flex;
    justify-content: space-between;

    &__title {
        color: $titleTextColor;
        margin-top: 30px;
        margin-bottom: 10px;
      
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
    }
      
      &__text {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 1.7;
      }
  }
  

  
  .features__item{
    &::before {
        display: block;
        content: '';
        height: 120px;
        width: 270px;
      
        background-image: url(../images/antenna.svg);
        background-size: 70px 70px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $secondaryBcgColor;
    }
  &:not(:last-child) {
    margin-right: 30px;
  }  
  &--icon-clock::before {
    background-image: url(../images/clock.svg);
  }
  &--icon-diagram::before {
    background-image: url(../images/diagram.svg);
  }
&-astronaut::before {
    background-image: url(../images/astronaut.svg);
  }
}


  