.logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;

    @media screen and (max-width: 767px){
      padding-top: 16px;
    padding-bottom: 16px;
     }
    color: $titleTextColor;
  
    font-family: $secondaryFont;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
  }
  .logo__accent {
    color: $accentColor;
  }

