.footer-form {
    display: flex;
    align-items: flex-end;
    margin-left: 93px;
    padding-left: 0;
    padding-top: 12px;
    padding-bottom: 40px;
  
  &__block {
    flex-direction: column;
  }
  
  &__caption {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  
    color: $primaryBcgColor;
  }
  
  &__input {
    display: block;
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding: 15px 16px;
    background-color: $thirdlyBcgColor;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  
    color: $primaryBcgColor;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
  
  &:focus {
    outline: none;
  }
}
}
  
  .footer-form__button {
    @extend %button;
    margin: 0;
    width: 200px;
    height: 50px;
    padding: 10px 28px;
    background: $accentColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
   

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

  }
  
  .footer-form__icon{
    display: block;
    margin: 0;
    margin-left: 10px;
  }