$accentColor: #2196f3;
$thirdlyBcgColor: #2f303a;



.footer-media {
    display: block;
    align-items: center;
    justify-content: center;
    padding-top: 60px;

    @media screen and (min-width: 768px) {
      padding-bottom: 60px;
      padding-top: 5px;
      } 

      @media screen and (min-width: 1200px) {
        margin-left: 70px;
        padding-top: 12px;
        padding-bottom: 0;
        text-align: start;
        }
  }
  
  .footer-media__title {
    display: block;
    color: #ffffff;
  
    font-weight: 700px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  
    margin-bottom: 20px;
  }

  .footer-social__link {
    @extend %social__link;

    color: white;
    
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 10px;

  &--append {
    margin-right: 0;
  }
  
  &:hover,
  &:focus {
    background-color: $accentColor;
    outline: none;
  }
}
  
  .footer-social {
    @extend %social;
    align-items: center;
    justify-content: center;

    color: white;
    background-color: $thirdlyBcgColor;
  
  &__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
}


