.footer__info {
    display:block;
    text-align: center;

    margin-right: 0;
    padding-right: 0;

    @media screen and (min-width: 1200px) {
     display: flex;
     text-align: start;
      }

  
  }

  .footer__join{
    @media screen and (min-width: 768px){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
  }

.footer__contacts {
    display: block;
    text-decoration: none;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: 165px;
      }
 
  }

.footer-adress {
    display: inline-block;
    width: 231px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;

  &__postal {
    display: block;
    color: $primaryBcgColor;
    margin-top: 20px;
  }
  &__email {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    margin-top: 8px;
    transition: color $animationDuration $animationTimingFunction;
    
    &:hover,
    &:focus {
    color: $accentColor;
    outline: none;
  }
}
  &__tel {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    margin-top: 8px;
    transition: color $animationDuration $animationTimingFunction;
   &:hover,
   &:focus {
      color: $accentColor;
      outline: none;
    } 
}
}


  
  
 
  
  

  