.form {
  display: flex;
  flex-direction: column;
  align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;  
    color: $titleTextColor;
  }
  
  .form__title {
    display: inline-block;
    margin-bottom: 12px;
    margin-top: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
  
    color: $titleTextColor;
  }
  
  .form__field {
    position: relative;
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    text-align: start;

    @media screen and (max-width: 1199px) {
      max-width: 450px;
      width: 100%;
    // padding-left: 40px;
    // padding-right: 40px;
    }
  }
  
  .form__comments {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 0;

    @media screen and (max-width: 1199px) {
      max-width: 450px;
      width: 100%;
    }
  }
  
  .form__lable {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $primaryTextColor;
    margin-bottom: 4px;
  }
  
  .form__input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    max-width: 448px;
    height: 40px;
    @media screen and (max-width: 1199px) {
      max-width: 370px;
    }
    padding: 11px 12px;
    padding-left: 42px;
    color: $titleTextColor;
    transition: border $animationTimingFunction $animationDuration;
  
    font-size: 12px;
    line-height: 1.14;

  &:hover,
  &:focus {
    border: 1px solid $accentColor;
    outline: none;
  }
}
  
  .form__icon {
    display: inline-block;
    position: absolute;
    top: 55%;
    left:15px;

    fill: currentColor;

    .form__field:hover &,
    .form__field:focus & {
      color: $accentColor;
      outline: none;
    }
  }
  
  .form__textarea {
    width: 448px;
    @media screen and (max-width: 1199px) {
      max-width: 450px;
      width: 100%;
    }

    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    margin-bottom: 20px;
    padding: 12px 16px;
    transition: border $animationDuration $animationTimingFunction;
 
    font-size: 12px;
    line-height: 1.14;
  
  &:hover,
  &:focus {
    border: 1px solid $accentColor;
    outline: $accentColor;
  }
  
  &::placeholder {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
  
    color: rgba(117, 117, 117, 0.5);
  }
}
  
  .agreement {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.71;

    // @media screen and (max-width: 767px) {
    //   // padding-right: 40px;
    //   // padding-left: 40px;
    //    }
  
    letter-spacing: 0.03em;
  
    color: $titleTextColor;
  }
  
  .agreement__label {
    display: inline-block;
    color: $primaryTextColor;
    @media screen and (max-width: 1199px) {
      font-size: 12px;
      line-height: 1.71;
    }
    
  }
  
  .agreement__input {
    display: block;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;

    &:checked + .agreement__icon {
        background-color: $accentColor;
        background-image: url('../images/full-check.svg');
        background-size: contain;
        background-origin: border-box;
        border-color: $accentColor;
        fill: $accentColor;
      }
  }
  
  .agreement__icon {
    display: block;
    border-radius: 4px;
    fill: currentColor;
    top: 75.8%;
    left: 66px;
    margin-right: 8.4px;
  }
  
  .agreement__link{
    text-decoration: none;
    text-decoration-line: underline;
    color: $accentColor;
  
 &:visited{
    color: $accentColor;
  }
}
  
  .form__button {
      @extend %button;
    display: block;
    margin: auto;
    padding-bottom: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
  
    letter-spacing: 0.06em;
  
    color: $primaryBcgColor;
  
    width: 200px;
    height: 50px;
    background: $accentColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
    border-radius: 4px;
  }