.clients {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
    }
    // align-items: center;
    // text-align: center;
    // justify-content: space-between;
    margin: -15px;
    color: #afb1b8;
    background-color: $primaryBcgColor;
    
    &__icon {
        fill: currentColor;
      }

        &__item{
          @media screen and (max-width: 767px) {
            width: calc((100% - 15px*4)/2);
            margin: 15px;
    }
    @media screen and (min-width: 768px) {
      width: calc((100% - 15px*6)/3);
      margin: 15px;
    }
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      width: calc((100%-15px*12)/6);
        margin: 15px;
      }
  }
}
  
  .clients__link {
    display: flex;
    flex-wrap: wrap;
    // width: calc((100%-15px*4)/2);
    // margin-right: 0;
    // width: 170px;
    height: 92px;
    color: #afb1b8;
    background-color: $primaryBcgColor;
  
    padding: 16px 32px;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: color $animationDuration $animationTimingFunction,
      background-color $animationDuration $animationTimingFunction,
      border $animationDuration $animationTimingFunction;
  
  &:hover,
  &:focus {
    color: $accentColor;
    background-color: $primaryBcgColor;
    border: 1px solid $accentColor;
    outline: none;
  }
}
  