.clients {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    color: #afb1b8;
    background-color: $primaryBcgColor;
    
    &__icon {
        fill: currentColor;
      }
    &__item:not(:last-child) {
        margin-right: 30px;
      }
  }
  
  .clients__link {
    display: flex;
    width: 170px;
    height: 92px;
    color: #afb1b8;
    background-color: $primaryBcgColor;
  
    padding: 16px 32px;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: color $animationDuration $animationTimingFunction,
      background-color $animationDuration $animationTimingFunction,
      border $animationDuration $animationTimingFunction;
  
  &:hover,
  &:focus {
    color: $accentColor;
    background-color: $primaryBcgColor;
    border: 1px solid $accentColor;
    outline: none;
  }
}
  