.page-header {
    border-bottom: 1px solid #ececec;
    position: fixed;
    width: 100%;
    min-height: 80px;
    top: 0;
    left: 0;
    z-index: 3;
    background-color:$primaryBcgColor;
  }
  
  .container__nav{
      display: flex;
      align-items: center;
      justify-content: space-between;

  .main-nav {
    display: flex;
    align-items: center;
  }
  }

  

