.site-nav {
    display: flex;
    // margin-left: 88px;
  
  &__item:not(:last-child) {
    margin-right: 50px;
  }

  @media screen and (max-width: 767px){
    display: none;
  }

  @media screen and (min-width: 768px){
   margin-left: 88px;
  }

  @media screen and (min-width: 1200px){
   margin-left: 93px;
  }

}
  
  .site-nav__link {
    color: $titleTextColor;
  
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    text-decoration: none;

    padding-top: 32px;
    padding-bottom: 32px;
    
    transition: color $animationDuration $animationTimingFunction;
 
  &:hover,
  &:focus {
    color: $accentColor;
    outline: none;
  }
  
  &--active {
    transition: color $animationDuration $animationTimingFunction;
    color: $accentColor;
  }

&::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    min-height: 4px;
    min-width: 100%;
    background-color: $accentColor;
    transform: scaleX(0);
    transition: transform 500ms $animationTimingFunction;
  }
  
  &--active::after {
    transform: scaleX(1);
  }
  
  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
    outline: none;
  }
}
  .site-nav__item {
    position: relative;
  }