%container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

%button{
    color: $primaryBcgColor;
  background-color: $accentColor;
  cursor: pointer;

  font-family: inherit;

  display: inline-flex;
  align-items: center;
  text-align: center;
  border: 0;
}

%social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

%social__link{
    display: block;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    text-align: center;
    padding: 12px;
    color: #afb1b8;
    transition: background-color $animationDuration
    $animationTimingFunction;
}



