$primaryTextColor: #757575;
$titleTextColor: #212121;
$accentColor: #2196f3;
$primaryBcgColor: #ffffff;
$secondaryBcgColor: #f5f4fa;
$thirdlyBcgColor: #2f303a;
$heroBcgColor: #c4c4c4;

$primaryFont: Roboto, sans-serif;
$secondaryFont: Raleway, sans-serif;

$animationTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$animationDuration: 250ms;



